body{
    background-color:lightgray;
}

.card{
    height: 700px;
    width: 20rem; 
    margin: 30px; 
    border-color: white;
    padding: 0px;
}

.row{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

.sticky-btn-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 40px;
    margin-bottom: 60px;
  }

.einkaufswagen{
    width: 60px;
}
 

.imgcard{
    height: 220px;
    width: 20rm;
    margin: 0px;
    
}

.modalartentfernenbtn{
    right: 0px;

}

#Anzahl-btn{
    padding: 3px;

    text-align: center;
    height: 30px;
    font-size: 14px;
    width: 190px;
    bottom: 0px;
  
  
  
 
}


.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    display: inline-block;
    margin: 10px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardbutton{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1630px) {
    .card{
        height: 700px;
        width: 13.5rem; 
        margin: 30px; 
        border-color: white;
        padding: 0px;
    }
    .imgcard{
        height: 150px;
        width: 13.5rm;
        margin: 0px;
        
    }

    .einkaufswagen{
        width: 40px;
    }

  }

  @media (max-width: 850px) {
    .card{
        height: 700px;
        width: 19rem; 
        margin: 30px; 
        border-color: white;
        padding: 0px;
    }


    #Anzahl-btn{
        padding: 3px;
    
        text-align: center;
        height: 40px;
        font-size: 10px;
        width: 190px;
    }
    .imgcard{
        height: 200px;
        width: 20rm;
        margin: 0px;
        
    }

    .row{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 50px;
    }

    .einkaufswagen{
        width: 30px;
    }

    .sticky-btn-container {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 20px;
        margin-bottom: 40px;
      }

  }